.row-shop{
    border:1px solid #999;
    padding: .5rem;
    border-bottom:none;
}

.row-shop:last-child{
    border-bottom:1px solid #999;
}

.row row-shop{
    margin-left: 10px;
}

.shop-name{
    white-space: nowrap;
    overflow-x: scroll;
}

.content{
    margin-left: 10px;
}